Project Module 6 : CPSMA 3913 Dr. Jacob's Discrete Mathematics
 
Numbers

Aakriti Khadka

#26039

Converting the number 240367 into base ten. I used the built in str method and converted using the builtin int method by passing the number and base value of that number.

In [ ]:
num = 24036
num_str = str(num)
x = int(num_str,7)
print(x)

6201

Converting the hexadecimal number 72e3 or  into base ten. I converted using the builtin int method by passing the number and base value of that number.

In [ ]:
num_str = '72e3'
x = int(num_str,16)
print(x)

29411

 Converting 3735928559 into hexadecimal. I used the builtin function hex to directly convert the given hexadecimal number. As, python provides direct functions for standard base conversions.

In [ ]:
num = 3735928559
hex_num = hex(num)
print(str(hex_num[2:].upper()))

'DEADBEEF'

Using two’s complement to preform the base ten subtraction 25 − 37. I first initialized the given number to two different variables. Then I find the one complement and two's complement by adding 1 to it. Then I stored it in the output variable.

In [ ]:
a = 25
b = 37
#finding the 1's complement of b
ones_b = ~b
#two's complement
twos_b = ones_b+1
output = a+twos_b
print(output)

-12