Project Module 7 : CPSMA 3913 Dr. Jacob's Discrete Mathematics

Logic

Aakriti Khadka

26039

In [ ]:
# I love watching different genre of movies so I would like to go with the genre as my prepositions. I like Comedy, Action but not Horror.
# I will assign p,q,r with the genre Comedy, Action, Horror respectively.
# p = Comedy
# q = Action
# r = Horror

In [2]:
comedy = True #p
action = True #q
horror = False #r

Truth of Statements:

In [5]:
# r∧p 
# This truth of the statement returns False as I dont like horror movies.
print(horror and comedy)

False

In [8]:
# r∨¬q
# This truth of the statement returns False as both of the statements are not True.
print(horror or (not action))

False

In [9]:
# r⇒p
# This truth of the statement returns True as both of the statements are True.
print((not horror) or comedy)

True

 Complete truth table for ¬ (r ⊕ p) ⇒ (p ∨ q)

In [11]:
!pip install truth-table-generator
# generate truth table
import ttg
table = ttg.Truths(['p','q','r'],['~q','r and p','r or ~q','r=>p'], ints=False)
table.as_pandas().style.set_properties(**{'text-align':'left'}).hide_index()

Collecting truth-table-generator
  Downloading truth_table_generator-1.1.2.tar.gz (14 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from truth-table-generator) (1.21.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from truth-table-generator) (1.3.5)
Collecting PTable
  Downloading PTable-0.9.2.tar.gz (31 kB)
Requirement already satisfied: pyparsing in /usr/local/lib/python3.7/dist-packages (from truth-table-generator) (3.0.7)
Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (from truth-table-generator) (0.8.9)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from truth-table-generator) (2.11.3)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->truth-table-generator) (2.0.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->truth-table-generator) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->truth-table-generator) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->truth-table-generator) (1.15.0)
Building wheels for collected packages: truth-table-generator, PTable
  Building wheel for truth-table-generator (setup.py) ... done
  Created wheel for truth-table-generator: filename=truth_table_generator-1.1.2-py3-none-any.whl size=13960 sha256=5238ac73ff8947351f43212b3e7983a377653fd6adea801c3045c0b2c545b259
  Stored in directory: /root/.cache/pip/wheels/9a/55/b5/77f5756832494eafda92c7a94c1365ac31088a18a3a97dd480
  Building wheel for PTable (setup.py) ... done
  Created wheel for PTable: filename=PTable-0.9.2-py3-none-any.whl size=22925 sha256=d48d50954cfdd3f52942ab553f662dc38025a2e901041636b8f72dc91dfe961f
  Stored in directory: /root/.cache/pip/wheels/33/df/2f/674985b3f8a2de3f96357d1eadef5110f74fa91b3785e52a54
Successfully built truth-table-generator PTable
Installing collected packages: PTable, truth-table-generator
Successfully installed PTable-0.9.2 truth-table-generator-1.1.2

In [13]:
# Generating Truth Table ¬ (r ⊕ p) ⇒ (p ∨ q)
#I used xor for ⊕
table = ttg.Truths(['p','q','r'],['p xor q','~(p xor q)','q or r','~(p xor q) => (q or r)'], ints=False)
table.as_pandas().style.set_properties(**{'text-align':'left'}).hide_index()

I enjoyed playing with truth tables with the different genre of movies. I was amazed seeing that we could implement it and see in the real time.